<ion-header>
  <ion-toolbar>
    <ion-title>{{ playlist_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="playlist">
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Artist</ion-col>
      <ion-col>Date</ion-col>
      <ion-col>Operations</ion-col>
    </ion-row>
    <ion-row *ngFor="let song of playlist">
      <ion-col>{{song.name}}</ion-col>
      <ion-col>{{song.artist}}</ion-col>
      <ion-col>{{song.date}}</ion-col>
      <ion-col>
        <ion-button>Listen</ion-button>
        <ion-button (click)="removeSong(song.name)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 *ngIf="!playlist">No songs yet!</h1>
</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-button>Add Song</ion-button>
    <ion-button (click)="deletePlaylist()">Delete Playlist</ion-button>
  </ion-buttons>
</ion-footer>
