<ion-header>
  <ion-toolbar>
    <ion-title>{{ playlist_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="playlist.length != 0">
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Artist</ion-col>
      <ion-col>Album</ion-col>
      <ion-col>Date</ion-col>
      <ion-col>Operations</ion-col>
    </ion-row>
    <ion-row *ngFor="let song of playlist">
      <ion-col>{{song.name}}</ion-col>
      <ion-col>{{song.artist}}</ion-col>
      <ion-col>{{song.album}}</ion-col>
      <ion-col>{{song.date}}</ion-col>
      <ion-col>
        <ion-button (click)="playSong(song)">Listen</ion-button>
        <ion-button (click)="removeSong(song.name)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar id="no_songs" *ngIf="playlist.length == 0">No songs yet!</ion-toolbar>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="song">
    <ion-row class="ion-text-center">
      <ion-col size="12">{{ song.name }}</ion-col>
      <ion-col>
        <ion-range #range [(ngModel)]="progress" (touchend)="seek()" (mouseup)="seek()" max="100" color="success"></ion-range>
      </ion-col>
      <ion-col size="12">
        <ion-button>
          <ion-icon name="play-skip-back-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="toggle()">
          <ion-icon *ngIf="isPlaying" name="pause-sharp"></ion-icon>
          <ion-icon *ngIf="!isPlaying" name="play-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="nextSong()">
          <ion-icon name="play-skip-forward-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-buttons>
    <ion-button [routerLink]="['/home']" [queryParams]="{'username': username, 'password': password}">Add Songs</ion-button>
    <ion-button (click)="deletePlaylist()">Delete Playlist</ion-button>
  </ion-buttons>
</ion-footer>
