<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Artist</ion-title>
      <ion-button [routerLink]="['/home']" [queryParams]="{'username': username, 'password': password}">Home</ion-button>
      <ion-button [routerLink]="['/playlists']" [queryParams]="{'username': username, 'password': password}">Playlists</ion-button>
      <ion-button [routerLink]="['/login']" [queryParams]="{'username': username, 'password': password}">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="description">
    <ion-card-content>
      <h1>Details</h1>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-label>{{ description[0][0].name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Followers</ion-label>
          <ion-label>{{ description[0][0].followers }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total Listens</ion-label>
          <ion-label>{{ description[3].total_listens }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card  *ngIf="description">
    <ion-card-content>
      <h1>Albums</h1>
      <ion-list>
        <ion-item *ngFor="let al of description[1]">
          <ion-label>{{ al.album }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="description">
    <ion-card-content>
      <h1>Top Played Songs</h1>
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Album</ion-col>
          <ion-col>Genre</ion-col>
          <ion-col>Listen Count</ion-col>
        </ion-row>
        <ion-row *ngFor="let song of description[2]">
          <ion-col>{{song.name}}</ion-col>
          <ion-col>{{song.album}}</ion-col>
          <ion-col>{{song.genre}}</ion-col>
          <ion-col>{{song.listen_count}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="description">
    <ion-card-content>
      <h1>Operations</h1>
      <ion-list>
        <ion-item *ngIf="!isArtist">
          <ion-label>Follow</ion-label>
          <ion-button (click)="toggleFollow()">
            <ion-text *ngIf="!description[4]">Follow</ion-text>
            <ion-text *ngIf="description[4]">Unfollow</ion-text>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="isArtist">
          <ion-label>Upload</ion-label>
          <ion-list>
            <ion-item>
              <ion-label>File</ion-label>
              <input type="file" (change)="loadFile($event)">
            </ion-item>
            <ion-item>
              <ion-label>Song Name</ion-label>
              <ion-input type="text" [(ngModel)]="uploadSongname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Album</ion-label>
              <ion-input type="text" [(ngModel)]="uploadAlbum"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Genre</ion-label>
              <ion-input type="text" [(ngModel)]="uploadGenre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button (click)="uploadSong()">Submit</ion-button>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
