<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Home</ion-title>
      <ion-button [routerLink]="['/home']" [queryParams]="{'username': username, 'password': password}">Home</ion-button>
      <ion-button [routerLink]="['/playlists']" [queryParams]="{'username': username, 'password': password}">Playlists</ion-button>
      <ion-button [routerLink]="['/login']" [queryParams]="{'username': username, 'password': password}">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-searchbar [(ngModel)]="searchText" (keyup)="autoComplete()"></ion-searchbar>
    </ion-card-header>
    <ion-card-content *ngIf="autocomplete">
      <ion-list>
        <ion-item *ngIf="autocomplete[0]">
          <ion-label>Songs</ion-label>
          <ion-list>
            <ion-item *ngFor="let song of autocomplete[0]">
              <ion-label>{{song.song}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item *ngIf="autocomplete[1]">
          <ion-label>Artists</ion-label>
          <ion-list>
            <ion-item *ngFor="let song of autocomplete[1]">
              <ion-label>{{song.artist}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item *ngIf="autocomplete[2]">
          <ion-label>Albums</ion-label>
          <ion-list>
            <ion-item *ngFor="let song of autocomplete[2]">
              <ion-label>{{song.album}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Your Playlists</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let playlist of playlists">
          <ion-label>{{ playlist.name }}</ion-label>
          <ion-button [routerLink]="['/playlists', playlist.name]" [queryParams]="{'username': username, 'password': password}">Visit</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="listen_again">
    <ion-card-header>Listen Again</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Artist</ion-col>
          <ion-col>Album</ion-col>
        </ion-row>
        <ion-row *ngFor="let song of listen_again">
          <ion-col>{{song.name}}</ion-col>
          <ion-col>{{song.artist}}</ion-col>
          <ion-col>{{song.album}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="artists">
    <ion-card-header>Songs From Artists You Follow</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Artist</ion-col>
          <ion-col>Album</ion-col>
        </ion-row>
        <ion-row *ngFor="let song of artists">
          <ion-col>{{song.name}}</ion-col>
          <ion-col>{{song.artist}}</ion-col>
          <ion-col>{{song.album}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
