<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Playlists</ion-title>
      <ion-button [routerLink]="['/home']" [queryParams]="{'username': username, 'password': password}">Home</ion-button>
      <ion-button [routerLink]="['/playlists']" [queryParams]="{'username': username, 'password': password}">Playlists</ion-button>
      <ion-button [routerLink]="['/login']" [queryParams]="{'username': username, 'password': password}">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane>
    <ion-menu>
      <ion-header *ngFor="let playlist of playlists">
        <ion-toolbar>{{ playlist.name }}</ion-toolbar>
      </ion-header>
    </ion-menu>
  </ion-split-pane>
</ion-content>
